.footer{
    display: flex;
    padding: 1vmax 3vmax;
    background-color: #0F0326;
}
.left{
    color: white;
    padding: 1vmax 2vmax;
    font-size: 130%;
}
.right{
    color: white;
    padding: 1vmax 2vmax;
    transform: translateX(110%);
    font-size: 130%;
}
.left>h4{
    padding: 2vmax 0vmax;
}
.left>p{
    padding: 1vmax 0vmax;
}
.right>h4{
    padding: 2vmax 0vmax;
}
.right>p{
    padding: 1vmax 0vmax;
}
.right>div{
    display: flex;
    padding: 1vmax 1vmax;
    transform: translateX(-25%);
}

.links4{
    padding: 0vmax 5vmax;
}
